# Time Series Analysis

In [10]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from statsmodels.tsa.arima_model import ARIMA

%matplotlib inline

In [14]:
# function to get data
def get_dataframe(path):
   
    if not path:
        return pd.DataFrame()
    df = pd.DataFrame()
    
    try:
        filename, file_extension = os.path.splitext(path)
        print(filename)
        if file_extension == ".json":
            df = pd.read_json(path)
        elif file_extension == ".csv":
            df = pd.read_csv(path)

        return df
    except Exception as e:
        return pd.DataFrame()

In [15]:
facebook_df = get_dataframe("../data/FB.csv")
tesla_df = get_dataframe("../data/TSLA.csv")

123
123

In [13]:
facebook_df.head()

Empty DataFrame
Columns: []
Index: []